.result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* height: 60vh; */
    text-align: center;
    
  }
  .title{
    font-size: 2rem;

  }
  .result button{
    /* width: 2rem; */
    padding: 0.5rem;
    font-size: 2rem;
  }